<div class="code-dialog-wrapper">
  <div class="dialog-header">
    <h3>🍝 NgRx Store Classique - Tous les fichiers (19 fichiers)</h3>
    <p-button
      icon="pi pi-times"
      [text]="true"
      [rounded]="true"
      severity="secondary"
      (onClick)="close()" />
  </div>

  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Actions (4)</p-tab>
      <p-tab value="1">Reducers (5)</p-tab>
      <p-tab value="2">Effects (4)</p-tab>
      <p-tab value="3">Selectors (4)</p-tab>
      <p-tab value="4">Component (2)</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <h3>📁 Actions (4 fichiers)</h3>
        <h4>stores.actions.ts</h4>
        <pre><code [highlight]="config.data.storesActions" language="typescript"></code></pre>
        <h4>clients.actions.ts</h4>
        <pre><code [highlight]="config.data.clientsActions" language="typescript"></code></pre>
        <h4>carts.actions.ts</h4>
        <pre><code [highlight]="config.data.cartsActions" language="typescript"></code></pre>
        <h4>products.actions.ts</h4>
        <pre><code [highlight]="config.data.productsActions" language="typescript"></code></pre>
      </p-tabpanel>
      <p-tabpanel value="1">
        <h3>📁 Reducers (5 fichiers)</h3>
        <h4>stores.reducer.ts</h4>
        <pre><code [highlight]="config.data.storesReducer" language="typescript"></code></pre>
        <h4>clients.reducer.ts</h4>
        <pre><code [highlight]="config.data.clientsReducer" language="typescript"></code></pre>
        <h4>carts.reducer.ts</h4>
        <pre><code [highlight]="config.data.cartsReducer" language="typescript"></code></pre>
        <h4>products.reducer.ts</h4>
        <pre><code [highlight]="config.data.productsReducer" language="typescript"></code></pre>
        <h4>index.ts (Configuration centrale)</h4>
        <pre><code [highlight]="config.data.reducersIndex" language="typescript"></code></pre>
      </p-tabpanel>
      <p-tabpanel value="2">
        <h3>📁 Effects (4 fichiers)</h3>
        <h4>stores.effects.ts</h4>
        <pre><code [highlight]="config.data.storesEffects" language="typescript"></code></pre>
        <h4>clients.effects.ts</h4>
        <pre><code [highlight]="config.data.clientsEffects" language="typescript"></code></pre>
        <h4>carts.effects.ts</h4>
        <pre><code [highlight]="config.data.cartsEffects" language="typescript"></code></pre>
        <h4>products.effects.ts</h4>
        <pre><code [highlight]="config.data.productsEffects" language="typescript"></code></pre>
      </p-tabpanel>
      <p-tabpanel value="3">
        <h3>📁 Selectors (4 fichiers)</h3>
        <h4>stores.selectors.ts</h4>
        <pre><code [highlight]="config.data.storesSelectors" language="typescript"></code></pre>
        <h4>clients.selectors.ts</h4>
        <pre><code [highlight]="config.data.clientsSelectors" language="typescript"></code></pre>
        <h4>carts.selectors.ts</h4>
        <pre><code [highlight]="config.data.cartsSelectors" language="typescript"></code></pre>
        <h4>products.selectors.ts</h4>
        <pre><code [highlight]="config.data.productsSelectors" language="typescript"></code></pre>
      </p-tabpanel>
      <p-tabpanel value="4">
        <h3>📁 Component (2 fichiers)</h3>
        <h4>ngrx-demo.component.ts</h4>
        <pre><code [highlight]="config.data.ngrxComponent" language="typescript"></code></pre>
        <h4>ngrx-demo.component.html</h4>
        <pre><code [highlight]="config.data.ngrxComponentHtml" language="html"></code></pre>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>

  <div class="warning-box">
    ⚠️ <strong>Total :</strong> 19 fichiers pour gérer 4 entités simples avec NgRx Store !
  </div>
</div>
