.eslint-content {
  margin: 2rem 0;

  pre {
    margin: 0;
  }
}

.result-box {
  text-align: center;
  font-size: 1.3rem;
  padding: 1.5rem;
  margin-top: 2rem;
  border-top: 2px solid #e2e8f0;
  color: #0f172a;
}
